{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block content %}
    <h2>Welcome to our Home Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deleniti et excepturi maxime nemo nulla pariatur? Assumenda, deleniti ea excepturi ipsa laborum omnis sint tempora veniam voluptates voluptatum. Illo.</p>
        <p>Our collection of durable school shoes is designed with the active student in mind. We understand the importance of footwear that can withstand the daily wear and tear of school life, while still providing comfort and style. Each pair is made from high-quality materials that ensure longevity, whether it's running in the playground, walking to and from school, or simply being on their feet all day.</p>
{% endblock %}